@use '../helpers' as *;

body {
  @include fluid-text(18, 16);
  line-height: 1;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-1);
  background-color: var(--color-5);
  font-weight: 600;
  letter-spacing: 0;
}

main {
  padding-inline: fluid(140, 41);
  width: 100%;
  margin: 0 auto;

  @include mediaLaptop {
    padding-inline: fluid(40, 25);
  }

  @include mediaTablet {
    padding-inline: fluid(24, 15);
  }

  @include mediaMobile {
    padding-inline: rem(15);
  }
}

h1,
.h1,
h2,
.h2 {
  font-weight: 600;
  font-size: rem(24);
}
