@use '../helpers' as *;

body {
  @include fluid-text(18, 16);
  line-height: 1;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-1);
  background-color: var(--color-5);
  font-weight: 600;
  letter-spacing: 0;
}

main {
  @include fluid-padding-x(140, 15);
}

h1,
.h1,
h2,
.h2 {
  font-weight: 600;
  @include fluid-text(24, 24);
}

span,
.span {
  color: var(--color-accent);
  font-size: rem(20);

  @include mobile {
    font-size: rem(18);
  }
}

p,
.p {
  color: var(--color-2);
  font-size: rem(16);
  font-weight: 500;

  @include mobile {
    font-weight: 600;
    font-size: rem(14);
  }
}

small,
.small {
  color: var(--color-3);
  font-weight: 500;
  font-size: rem(14);

  @include mobile {
    font-weight: 600;
    font-size: rem(10);
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  outline: rem(2) dashed var(--color-accent);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
