@use '../helpers' as *;

:root {
  --color-1: #161616;
  --color-2: #595959;
  --color-3: #9c9c9c;
  --color-4: #dadada;
  --color-5: #f4f4f4;
  --color-6: #fdfdfd;
  --color-accent: #22a0bc;
  --color-1-transaprent: rgb(22, 22, 22, 0.24);
  --font-family-base: 'Manrope', sans-serif;

  --container-large-width: #{rem(1160)};
  --container-width: #{rem(360)};
  --container-height: #{rem(168)};
  --container-padding-x: #{rem(16)};

  --transition: ease-out 0.3s;

  --border: #{rem(1)} solid var(--color-4);

  --100vw: calc(100vw - var(--scrollbar-width));

  @include mobile {
    --container-large-width: #{rem(343)};
    --container-width: #{rem(162)};
    --container-height: #{rem(242)};
  }
}
