.dropdownWrapper {
  position: relative;
}

.dropdownToggle {
  background: none;
  border: none;
  padding: 0;
  @include square(rem(24));

  @include hover {
    color: var(--color-accent);
  }

  &:active {
    color: var(--color-2);
  }
}

.dropdown {
  position: absolute;
  z-index: var(--z-dropdown);
  left: var(--dropdown-left, 0);
  top: var(--dropdown-top, 0);
  display: flex;
  flex-direction: column;
  gap: rem(8);
  width: fluid(200, 160);
  padding: rem(8);
  border-radius: rem(12);
  box-shadow: 0px 0px 2px 0px #5a5a5a;
  background: var(--color-6);
}

.dropdownItem {
  @include flex-align-center;
  border: none;
  background: none;
  border-radius: rem(8);
  @include fluid-text(16, 14);
  margin: rem(8) rem(12);
  text-align: left;

  @include hover {
    color: var(--color-accent);
  }
}
