.avatar {
  max-width: fluid(112, 75);
  height: rem(120);
  border-radius: rem(8);
  overflow: hidden;
  width: 100%;
  background-color: var(--color-4);
  flex-shrink: 0;
  margin: 0 auto;

  @media (max-width: rem(500)) {
    max-width: rem(130);
  }
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
