.backButtonWrapper {
  @include flex-align-center;
  margin-bottom: fluid(24, 20);
}

.content {
  display: flex;
  gap: fluid(40, 32);

  @include mediaMobile {
    flex-direction: column;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-6);
  border-radius: rem(16);
  padding: fluid(40, 28);
  gap: fluid(24, 20);
}

.title {
  border-bottom: var(--border);
  padding-bottom: rem(15);
  margin-bottom: fluid(24, 20);
}
