@use 'functions' as *;

$laptop: 1192.98;
$tablet: 768.98;
$mobile: 425.98;

@mixin mediaLaptop {
  @media (max-width: rem($laptop)) {
    @content;
  }
}

@mixin mediaTablet {
  @media (max-width: rem($tablet)) {
    @content;
  }
}

@mixin mediaMobile {
  @media (max-width: rem($mobile)) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}
