.cardActive {
  display: flex;
  padding: fluid(24, 20);
  border-radius: rem(16);
  gap: fluid(20, 18);
  background: var(--color-6);

  @media (max-width: rem(500)) {
    padding: rem(16);
    gap: rem(16);
    flex-direction: column;
  }
}

.cardArchived {
  opacity: 0.6;
  background: var(--color-5);
  color: var(--color-2);
  filter: grayscale(100%);

  * {
    color: inherit;
    filter: inherit;
  }
}
