@use '../helpers' as *;

.button {
  @include flex-align-center;
  gap: rem(8);
  background: none;
  border: none;
  cursor: pointer;
  transition: var(--transition-duration);

  &--ghost {
    &:hover {
      background-color: var(--color-4);
    }

    &:active {
      background-color: var(--color-3);
    }
  }

  &__icon {
    @include square(rem(28));
    flex-shrink: 0;
    color: var(--color-2);
  }

  &__text {
    color: var(--color-2);
  }

  @include mobile {
    &__icon {
      @include square(rem(24));
    }

    &__text {
      font-size: rem(16);
    }
  }
}
