@use '../helpers' as *;

.edit-user-form {
  &__popup {
    position: fixed;
    inset: 0;
    @include flex-center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-1-transaprent);
    z-index: 1000;
  }

  &__popup-content {
    @include flex-center;
    flex-direction: column;
    gap: rem(16);
    background-color: var(--color-6);
    width: rem(310);
    height: rem(210);
    border-radius: rem(16);
    padding: rem(12);
    position: relative;
    color: var(--color-2);

    @include mobile {
      width: rem(271);
      height: rem(189);
      padding: rem(32);
    }
  }

  &__popup-close {
    position: absolute;
    top: rem(12);
    right: rem(12);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-2);
    width: rem(40);
    height: rem(40);

    svg,
    img {
      width: rem(24);
      height: rem(24);
      display: block;
    }

    &:hover {
      opacity: 0.7;
    }

    @include mobile {
      top: rem(16);
      right: rem(16);
    }
  }

  &__popup-icon {
    width: rem(84);
    height: rem(84);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__popup-message {
    @include fluid-text(20, 18);
    text-align: center;
    color: var(--color-2);
    white-space: nowrap;
    overflow: visible;
  }
}
