@use '../helpers' as *;

.edit-user-form {
  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    width: rem(420);

    @include mobile {
      gap: rem(20);
      width: 100%;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: rem(10) rem(40) rem(10) rem(16);
    border: rem(2) solid var(--color-4);
    border-radius: rem(50);
    background: var(--color-6);
    transition: var(--transition);
    color: var(--color-2);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-4);
    }

    &--changed {
      color: var(--color-1);
    }
  }

  &__clear {
    position: absolute;
    right: rem(9);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: rem(24);
      height: rem(24);
      display: block;
    }
  }

  &__error {
    margin-top: rem(4);
    color: red;
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}
