@use '../helpers' as *;

.edit-user-form {
  &__button {
    padding: rem(12) rem(24);
    border-radius: rem(50);
    border: none;
    cursor: pointer;
    transition: var(--transition);
    font-size: rem(16);
    width: 100%;
    width: rem(170);
    height: rem(46);

    @include flex-center;

    @include mobile {
      width: 100%;
      height: rem(44);
    }

    &--primary {
      background: var(--color-1);
      color: var(--color-6);

      @media (any-hover: hover) {
        &:hover {
          color: var(--color-1);
          background: var(--color-6);
        }
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}
