@use '../helpers' as *;

.page {
  &__main {
    width: 100%;
    margin: 0 auto;
  }

  &__container {
    @include flex-align-center;
    flex-direction: column;
    width: 100%;

    @include mobile {
      max-width: var(--container-large-width);
    }
  }

  &__content {
    width: 100%;
    display: flex;

    @include mobile {
      max-width: var(--container-large-width);
    }
  }

  &__back {
    @include flex-align-center;
    justify-content: flex-start;
    margin-bottom: rem(24);
    width: 100%;
    height: rem(68);

    @include mobile {
      max-width: var(--container-large-width);
      margin-bottom: rem(1);
    }
  }
}
