@use '../helpers' as *;

.header {
  background-color: var(--color-6);
  position: sticky;
  top: 0;
  z-index: 100;
  transition: box-shadow var(--transition-duration);

  &__container {
    display: flex;
    place-self: center;
    align-items: center;
    justify-content: space-between;
    padding: rem(16) 0;
    max-height: rem(56);
    width: 79%;
    max-width: var(--container-large-width);

    @include mobile {
      max-height: rem(50);
      width: 100%;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: rem(20);
  }

  &__icons {
    display: flex;
    gap: rem(4);
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  &__icons-item {
    @include flex-center(true);
    min-width: rem(24);
    min-height: rem(24);
  }

  &__icon-image {
    display: block;
    @include square(rem(24));
  }
}
