@use '../helpers' as *;

.header__icons {
  display: flex;
  gap: rem(4);
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;

  /* Скрываем группу иконок на мобильном*/
  @include mobile {
    display: none;
  }

  &-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: rem(24);
    min-height: rem(24);
  }

  .header__icon-image {
    display: block;
    width: rem(24);
    height: rem(24);
  }
}
