@use '../helpers' as *;

.profile {
  &__sections {
    width: 100%;
  }

  &__sections-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(24);

    @include mobile {
      gap: rem(20);
    }
  }

  &__section-item {
    padding-bottom: rem(12);
    border-bottom: var(--border);
    color: var(--color-3);
    transition: var(--transition);
    cursor: pointer;

    @include mobile {
      padding-bottom: rem(8);
      font-weight: 500;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-accent);
      }
    }

    &--active {
      color: var(--color-1);
      font-weight: 600;
    }
  }

  &__title {
    border-bottom: var(--border);
    padding-bottom: rem(16);
  }

  &__form {
    width: 100%;
  }
}
