@use '../helpers' as *;

.profile {
  width: 100%;
  display: flex;
  gap: rem(40);

  @include mobile {
    flex-direction: column;
    gap: rem(24);
  }

  &__sidebar {
    border-radius: rem(16);
    padding: rem(28);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-6);
    gap: rem(40);
    flex-shrink: 0;

    @include mobile {
      padding: rem(28);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: rem(760);
    background-color: var(--color-6);
    border-radius: rem(16);
    padding: rem(40);
    gap: rem(24);
    max-height: rem(813);

    @include mobile {
      gap: rem(20);
      padding: rem(28);
    }
  }
}
