@use '../helpers' as *;

.user-card {
  &__username-wrapper {
    height: rem(27);
    @include flex-align-center;
    overflow: hidden;
    margin-bottom: rem(4);

    @include mobile {
      height: rem(25);
    }
  }

  &__username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: rem(140);
    display: block;

    @include mobile {
      max-width: rem(105);
    }
  }

  &__company-wrapper {
    height: rem(28);
    @include flex-align-center;
    overflow: hidden;

    @include mobile {
      height: rem(19);
      max-width: 100%;
    }
  }

  &__company {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: rem(140);

    @include mobile {
      max-width: rem(105);
    }
  }

  &__city-wrapper {
    height: rem(19);
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: rem(140);
    margin-top: auto;
    position: relative;

    @include mobile {
      height: rem(14);
    }
  }

  &__city {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    @include mobile {
      max-width: rem(105);
    }
  }
}
