@use '../helpers' as *;

.user-card {
  &__avatar {
    flex-shrink: 0;
    width: rem(112);
    height: rem(120);
    border-radius: rem(8);
    margin-right: rem(20);
    background: var(--color-4);

    @include mobile {
      width: rem(130);
      height: rem(130);
      margin-right: 0;
      margin-bottom: rem(12);
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
