@use '../helpers' as *;

.header__user {
  @include flex-align-center;
  gap: rem(8);

  &-avatar {
    @include square(rem(20));
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    display: inline-block;

    @include mobile {
      @include square(rem(24));
    }

    &-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-name {
    font-size: rem(16);
    font-family: var(--font-family-base), sans-serif;
    font-weight: 500;
    line-height: 1;
    color: var(--color-2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: rem(140);

    @include mobile {
      display: none;
    }
  }
}
