@use '../helpers' as *;

.user-card {
  height: var(--container-height);
  padding: rem(24);
  border-radius: rem(16);
  background: var(--color-6);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;

  @include mobile {
    padding: rem(16);
    flex-direction: column;
    align-items: center;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: rem(8);

    @include mobile {
      display: grid;
      grid-template-columns: 1fr auto;
      width: 100%;
      align-items: start;
      justify-content: space-between;
    }
  }

  &__user-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 100%;
    min-height: rem(120);

    @include mobile {
      width: 100%;
      min-height: rem(74);
    }
  }
}
