@use '../helpers' as *;

.user-card {
  &__dropdown-wrapper {
    position: relative;

    @include mobile {
      justify-self: end;
      align-self: start;
    }
  }

  &__dropdown-toggle {
    @include square(rem(24));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 0;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: var(--color-1);
    transition: color var(--transition);
    position: relative;

    @include mobile {
      position: static;
      margin-left: auto;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-accent);
      }
    }

    &:active {
      color: var(--color-2);
    }

    .user-card__dropdown-icon {
      width: 100%;
      height: 100%;
      display: block;
      fill: currentColor;
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 9999;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: rem(8);
    width: rem(200);
    padding: rem(8);
    border-radius: rem(12);
    box-shadow: 0px 0px 2px 0px #5a5a5a;
    background: var(--color-6);

    @include mobile {
      width: rem(160);
      border-radius: rem(8);
    }
  }

  &__dropdown-item-wrapper {
    width: 100%;
    @include flex-align-center;
    box-sizing: border-box;
  }

  &__dropdown-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: rem(38);
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    border-radius: rem(8);
    font: inherit;
    color: var(--color-1);
    transition: var(--transition);
    font-size: rem(16);
    box-sizing: border-box;
    padding: rem(8) rem(12);

    @include mobile {
      height: rem(35);
      font-size: rem(14);
      width: 100%;
    }

    @include mobile-above {
      &:hover {
        color: var(--color-accent);
      }
    }
  }
}
